.p-sample__txt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 20px;
  font-weight: 700;
}

.p-smaple__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
